[run]
include = accounts/*, catalog/*, config/*, pages/*
omit =
    */__init__.py,
    *manage.py,
    *settings*.py,
    */migrations/*,
    */factories.py,
    */tests/*,
    *test.py,
    *wsgi.py,
    *conftest.py,
plugins = django_coverage_plugin
