{% extends "base.html" %}

{% block title %}Local Library{% endblock title %}

{% block page_header %}
  <div class="jumbotron">
    <h1 class="display-4">Welcome to the local library.</h1>

    <p class="lead">Browse our modest selection of books, and keep a list of the
        books you're reading. Track your borrowing. Find what you want with
        search. Read our summaries of the titles in our catalog.</p>

    <a class="btn btn-lg btn-primary" href="{% url 'account_signup' %}"
        role="button">Register &raquo;</a>
  </div>
{% endblock page_header %}
