{% extends "base.html" %}

{% block content %}
<div class="container">
  <p>
  <h2>Local Library Home</h3>
  <p>Welcome to LocalLibrary, a website developed by <em>Kevin Bowen</em>!</p>
  <h3>Catalog contents</h3>
  <p>The library has the following record counts:</p>
  <ul>
    <li><strong>Books:</strong> {{ num_books }}</li>
    <li><strong>Copies:</strong> {{ num_instances }}</li>
    <li><strong>Copies available:</strong> {{ num_instances_available }}</li>
    <li><strong>Authors:</strong> {{ num_authors }}</li>
  </ul>
  <p>You have visited this page {{ num_visits }} time{{ num_visits|pluralize }}.</p>
  </p>
</div>
{% endblock content %}
